.projects--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 4rem;
    margin-bottom: 4rem;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    margin: 1rem;
    gap: 1.6rem;
}



/* Card css */
.card--wrapper {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    border: 1px solid #393E41;
    color: #393E41;
    box-shadow: 5px 5px 6px 0px rgb(145, 145, 147);

    background-color: #FFFFFF;
}

.card--image {
    max-width: 100%;
}

.card--title-line {
    display: flex;
    font-size:  1.5rem;
    width: 90%;
    margin: 1rem;
    justify-content: space-between;
}

.card--links-wrapper {
    display: flex;
    gap: 1rem;
}

.card--link {
    text-decoration: none;
    margin-left: auto;
}

.card--icon {
    width: auto;
    height: 2rem;
}

.card--description {
    font-size: 1.1rem;
    margin: 0.5rem;
    margin-bottom: 2rem;
}


@media (min-width: 900px) {
    .card-grid {
        max-width: 1200px;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
}

@media (min-width: 600px) {
    /* more space around girds */
    .card-grid {
        margin: 2rem;
    }
}