.projects--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 30px;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.card--wrapper {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    max-width: 90vw;

    border: 1px solid #393E41;
    color: #393E41;
    box-shadow: 5px 5px 6px 0px rgb(145, 145, 147);

    background-color: #FFFFFF;
}

.card--image {
    max-width: 100%;
}

.card--title-line {
    display: flex;
    font-size:  1.5rem;
    width: 90%;
    margin: 1rem;

    justify-content: space-between;

}

.card--link {
    text-decoration: none;
    margin-left: auto;
}

.card--icon {
    width: auto;
    height: 2rem;
}

.card--description {
    /* display: inline-block; */
    font-size: 1.1rem;
    margin: 0.5rem;
    margin-bottom: 2rem;
}