* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F6F7EB;
}

.App {
  max-width: 100vw;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.header-font {
  font-size: 2.8rem;
    margin: 0;
    font-weight: normal;
}

